@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

body {
    background-image: url("../img/background-image.jpg");
    background-size: cover;
    
}
* {
    box-sizing: border-box;
}

main {
    background-color: rgba(0, 0, 0,0.4);
    min-height: 100vh;
    color:white;
}

.navbar.bg-white-custom{
    background-color: rgba(255, 255, 255,0.6)
}

.logged__user {
    font-size: 1.5rem;
    font-weight: bold;
}
#app {
    color:black;
}

.login {
    color:black;
}

#app .navbar-brand {
    font-family: 'Mali', cursive;
    font-size: 1.5rem;
    font-weight: 700;
}

#project__logo {
    width: 60px;
}



.poll__detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255,0.2);
    padding: 1rem;
    margin: 1rem auto;

}

.poll__detail__question {
    font-size: 1rem;
    color:rgba(255,255, 255,0.7);
    font-weight: bold;
}
.poll__detail__question__text {
    font-size: 1.5rem;
    font-style: italic;
}

.poll__detail__question__text a {
    font-size: 1.5rem;
    font-style: italic;
    color:white;
    text-decoration: none;
    cursor:pointer;
}

.poll__detail__question__text a:hover {
    text-decoration: underline;
}

.poll__detail table {
    width: 100%;
}